body{
	background-color: rgb(173,224,255);
	font-size: 30px
	}
.tg{
	border: 2px solid;
}
.tab{
	empty-cells: show;
	border: 2px solid;
	background-color:  rgb(205, 251, 255);
	box-shadow: 5px -5px 5px -2px #00000054;
	border-collapse: collapse;
	border-style: none;
}
.zag{
	border: 2px solid;
	background-color: rgb(38,172,255);
	border-radius: 30px;
	height: 40px;
	width: 430px;
	text-align: center;
	box-shadow: 5px -5px 5px -2px #00000054;
}

.ar{
	text-align: right;
}
.bl1{
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
	height: 35px;
	width: 300px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.bl2{
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
	height: 35px;
	width: 210px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.inp{
	font-size:18pt;
}
/* add */
.bl3{
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	height: 29px;
	width: 90px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.zag2{
	border: 2px solid;
	background-color: rgb(38,172,255);
	border-radius: 30px;
	height: 40px;
	width: 450px;
	text-align: center;
	box-shadow: 5px -5px 5px -2px #00000054;
}
.tab2{
	border: 2px solid;
	background-color:  rgb(205, 251, 255);
	box-shadow: 5px -5px 5px -2px #00000054;
	height: 150px;
	width: 600px;
	border-radius: 30px;
}
/*update*/
.tab3{
	border: 2px solid;
	background-color:  rgb(205, 251, 255);
	box-shadow: 5px -5px 5px -2px #00000054;
	height: 150px;
	width: 550px;
	border-radius: 30px;
}
/*del*/
.del{
	border: 2px solid;
	background-color:  rgb(205, 251, 255);
	box-shadow: 5px -5px 5px -2px #00000054;
	height: 130px;
	width:950px;
	text-align: center;
	border-radius: 30px;
}