body{
	background-color: rgb(173,224,255);
	font-size: 30px
	
	}
.tab1{
	background-color: rgb(38,172,255);
	border: 2px solid;
	width: 700px;
	height: 250px;
	border-radius: 30px;
}
.tab2{
	background-color: rgb(38,172,255);
	border: 2px solid;
	width: 900px;
	height: 340px;
	border-radius: 30px;
}
.zag{
	border: 2px solid;
	background-color: rgb(38,172,255);
	border-radius: 30px;
	height: 40px;
	width: 430px;
	text-align: center;
}

.ar{
	text-align: right;
}
.bl{
	text-align: center;
	vertical-align: middle;
	height: 35px;
	width: 220px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

}
.inp{
	font-size:18pt;
}